**/BraveSoftware
**/Code/
**/GIMP/
**/JetBrains/
**/Kvantum/
**/Mousepad/
**/QtProject.conf
**/Thunar/
**/VirtualBox/
**/autostart/
**/bunkus.org/
**/dconf/
**/falkon/
**/glade.conf
**/gtk-2.0/
**/gtk-3.0/
**/htop/
**/klavaro/
**/libfm/
**/libreoffice/
**/manjaro-hello.json
**/manjaro/
**/mimeapps.list
**/nitrogen/
**/okularpartrc
**/okularrc
**/pamac/
**/pavucontrol.ini
**/pulse/
**/qpdfview/
**/qt5ct/
**/rofi/
**/transmission/
**/user-dirs.dirs
**/user-dirs.locale
**/vlc/
**/volumeicon/
**/xfce4/
**/nvim/plugins
**/nvim/backup
**/nvim/node_modules
